.MainSection{
  padding: 3rem 0;
}
.fss {
  font-size: x-large;
}
.carousel-custom,
.cp {
  height: 38vh;
  margin: auto;
  width: 77%;
}
.cp1 {
  background-color: #9e7777;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}
.cp2 {
  background-color: #6f4c5b;
  background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
}
.cp3 {
  background-color: #deba9d;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
}
