@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.top1 {
  margin: auto;
  margin-bottom: 3rem;
}
.top1 h1 {
  text-align: center;
  margin: 3rem 0 2rem 0;
}
.iconre {
  margin: 0 0.5rem;
}
.info p {
  color: white;
}
.container {
  width: 100%;

  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
  transition: 0.5s ease;
}

.form {
  width: 100%;
  max-width: 820px;
  height: fit-content;
  background-color: rgba(40, 58, 172, 0.644);
  border-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  backdrop-filter: blur(9px);
}

.contactform {
  background: #191c29;
  position: relative;
  backdrop-filter: blur(10px);
}

.circle {
  position: absolute;
  background: linear-gradient(135deg, transparent 20%, #0c4762);
  border-radius: 50%;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -20px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 30px;
}

.contactform::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: white;
  top: 50px;
  left: -12px;
  transform: rotate(45deg);
}

form {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.title {
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}

.inputcontainer {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 1px;
  border-radius: 25px;
  transition: 0.3s;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.inputcontainer label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.3s;
  color: #fafafa;
}

.inputcontainer.textarea label {
  top: 1rem;
  transform: translateY(0);
}

.btn {
  padding: 0.6rem 1.3rem;
  background-color: black;
  border: 2px solid #ffff;
  font-size: 0.95rem;
  line-height: 1;
  border-radius: 25px;
  color: #1a70bc;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  outline: none;
}

.btn:hover {
  background-color: transparent;
  color: #fff;
}

.contactinfo {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contactinfo .title {
  color: white;
}

.text {
  font-size: 2rem;
  color: white;
  margin: 1.5rem 0 2rem 0;
}

.information {
  display: flex;
  margin: 0.7rem 0;
  font-size: 0.95rem;
  align-items: center;
}

.icon {
  font-size: 30px;
  color: #1a70bc;
  margin-right: 0.7rem;
}

.socialmedia {
  padding: 2rem 0 0 0;
}

.socialmedia p {
  color: white;
}

.socialicons {
  display: flex;
  margin-top: 0.5rem;
}

.socialicons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #1a70bc, #144b92);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-right: 0.5rem;
  transition: 0.4s;
}

.socialicons a:hover {
  transform: scale(1.09);
}

.contactinfo::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 110px;
  border: 22px solid #306ba7;
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}

.inputcontainer span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.inputcontainer span::before,
.inputcontainer span::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 5px;
  background-color: black;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
}

.inputcontainer span::before {
  left: 50%;
}

.inputcontainer span::after {
  right: 50%;
}

.inputcontainer.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.inputcontainer.focus span::before,
.inputcontainer.focus span::after {
  width: 50%;
  opacity: 1;
}

@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }
  .top1 {
    margin: 1rem 0;
  }
  .contactinfo::before {
    bottom: initial;
    top: -72px;
    right: 65px;
    transform: scale(0.95);
  }

  .contactform::before {
    top: -12px;
    left: initial;
    right: 70px;
  }

  .text {
    margin: 1rem 0 1.5rem 0;
  }

  .socailmedia {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contactinfo::before {
    display: none;
  }

  .big-circle {
    display: none;
  }

  form,
  .contactinfo {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .socailmedia p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .socialicons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    font-size: 25px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
}
